@import "vars";

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1920px) {
  .top {
    background-image: url(../img/KUBA2800-hd.jpg);
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .top {
    background-image: url(../img/KUBA2800-lg.jpg);
  }
  h2 {
    padding: 60px $gutter;
  }
 .what-doing {
   h2 {
     padding: 60px $gutter 60px-$gutter;
   }
   .tiles-item h3 {
     font-size: 30px;
     span {
       font-size: 18px;
       line-height: 40px;
     }
   }
 }
 // .who {
 //   h2 {
 //     padding: 60px $gutter;
 //   }
 // }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .top {
    background-image: url(../img/KUBA2800-md.jpg);
  }
  .top-line {
    .main-menu {
      display: none;
    }
    .menu-toggle {
      display: flex;
    }
  }
  .top {
    background-position: 80% center;
  }
  h1, h2 {
    font-size: 40px;
    line-height: 40px
  }
  .contacts h3, .contacts .contacts__wrapper .contact__item {
    font-size: 16px;
    line-height: 32px;
  }
  .contacts .contacts__wrapper h3 {
    margin-bottom: 20px;
  }
  .contacts {
    .contacts__wrapper .contact__item,
    .contacts__footer a.button,
    .contacts__footer nav {
      width: 230px;
    }
    .contacts__footer {
      a.button {
        font-size: 16px;
        height: 65px;
        line-height:65px;
        margin: 40px 0;
      }
      .copyright {
        font-size: 10px;
        font-size: 10px;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .top {
    background-image: url(../img/KUBA2800-sm.jpg);
  }
  .top-line {
    height: 45px;
    .logo {
      margin-left: $big-gutter/2;
      .logo__img {
        width: 30px;
      }
      .logo__name, .logo__subname {
        font-size: 11px;
        line-height: 12px;
      }
    }
    .menu-toggle {
      margin-right: $big-gutter/2;
    }
  }
  h1, h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .top {
    background-position: 70% center;
  }
  .what-doing {
    h2 {
      margin: 50px 0 50px-$gutter;
    }
    .tiles-item h3 {
      font-size: 22px;
      span {
        font-size: 16px;
        line-height: 29px;
      }
    }
  }
  .who {
    h2 {
      padding: 50px 0;
    }
  }
  .contacts h3, .contacts .contacts__wrapper .contact__item {
    font-size: 14px;
    line-height: 28px;
  }
  .contacts .contacts__wrapper h3 {
    margin-bottom: 15px;
  }
  .contacts {
    .contacts__wrapper .contact__item,
    .contacts__footer a.button,
    .contacts__footer nav {
      width: 200px;
    }
    .contacts__footer {
      a.button {
        font-size: 14px;
        height: 55px;
        line-height:55px;
        margin: 30px 0;
      }
      nav ul li {
        line-height: 30px;
        .socials-menu__fb {
          font-size: 27px;
        }
        .socials-menu__instagram {
          font-size: 30px;
        }
      }
      .copyright {
        font-size: 10px;
        font-size: 10px;
      }
    }
  }
}
@media only screen and (max-width : 590px) {
  .contacts {
    .contacts__wrapper {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .contact__item {
        margin: $gutter*2 0;
        &:first-child {
          margin-top: 0;
        }
      }
      .contact__item--phones {
        h3 i { margin-right: 10px}
      }
    }
  }
}

@media only screen and (max-width : 560px) {
  .top {
    background-image: url(../img/KUBA2800-560.jpg);
  }
  h1,h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .what-doing {
    .tiles {
      grid-template-columns: 100% 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
    .tiles-item h3 {
      font-size: 24px;
      span {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .tiles-item--stinopis {
      grid-row: 1/2;
    }
    .tiles-item--soft {
      grid-row: 2/3;
    }
    .tiles-item--textile {
      grid-row: 3/4;
    }
    .tiles-item--wallpaper {
      grid-row: 4/5;
    }
  }
  .what-doing {
    h2 {
      // margin: 30px 0 30px-$gutter;
      margin: 0;
      padding: $big-gutter 0 $big-gutter - 10 0;
    }
    .tiles-item h3 {
      font-size: 20px;
    }
  }
  .mfp-inline-holder .mfp-content {
    width: 320px;
  }
  form.contact-form {
    width: 300px;
  }
  .who {
    padding-bottom: $gutter;
    .who__citations {
      flex-direction: column;
    }
    .who__text {
      flex-direction: column;
      h3 {
        font-size: 18px;
        margin: $gutter*3 0 0 0;
      }
      article {
        width: 100%;
        &:first-child {
          margin-right: 0;
        }
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
  .citation__article {
    width: 100%;
    &:first-child {
      margin: 0 0 $gutter*3 0;
    }
  }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .top {
    background-image: url(../img/KUBA2800-480.jpg);
    background-position: 70% center;
  }

  // .who {
  //   h2 {
  //     padding: 30px 0;
  //   }
  //   .who-story__wrapper {
  //     flex-direction: column;
  //
  //     .who-story__text {
  //       // margin: $gutter $gutter $gutter $gutter;
  //       // margin: 0;
  //       padding: $gutter;
  //     }
  //   }
  // }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .top {
    background-image: url(../img/KUBA2800-320.jpg);
  }
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1921px) {
  .top {
    background-image: url(../img/KUBA2800.jpg);
  }
}
