@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "slick-theme-fa";

// Пользовательские стили

.top-line {
  z-index: 2;
  position: fixed;
  opacity: .7;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  height: 80px;
  width: 100%;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  transition: opacity .50s ease;
  &:hover {
    opacity: 1;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
    margin-left: $big-gutter;
    .logo__img {
      width: 70px;
      height: 70px;
    }
    .logo__txt {
      margin-left: $gutter/2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .logo__name {
      font-family: OpenSans-Semibold, sans-serif;
      text-transform: uppercase;
    }
    .logo__subname {
      font-family: HoneyScript, sans-serif;
      text-transform: lowercase;
      font-size: 20px;
    }
  }
  .main-menu {
    justify-content: flex-end;
    margin-right: $big-gutter;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
      margin: 0 $gutter;
      font-family: OpenSans-Semibold, sans-serif;
      a {
        border-bottom: 2px solid transparent;
        // font-size: 26px;
        line-height: 109px;
        transition: border-bottom .25s ease;
        &:hover, &:active {
          border-bottom: 2px solid $black;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  a {
    // font-family: Open-Sans, sans-serif;
    text-transform: uppercase;
    color: $black;
    text-decoration: none;
  }
  .menu-toggle {
    margin-right: $big-gutter;
    display: none;
    i {
      font-size: 20px;
    }
  }
}
.top {
  z-index: -1;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  height: 100vh;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  h1 {
    align-self: flex-end;
    margin-bottom: $big-gutter;
    padding: 0 $gutter;
  }
}
h1, h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  font-weight: 100;
}
h2 {
  padding: $big-gutter*2 $gutter $big-gutter*2-10;
}

.what-doing {
  h2 {
    // margin: 100px 0 100px-$gutter 0;
    padding: $big-gutter*2 $gutter $big-gutter*2-$gutter $gutter;

  }
  margin-bottom: $gutter/2;
  .tiles {
    padding: $gutter;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: $gutter;
  }
  .tiles-item {
    min-height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    align-content: center;
    h3 {
      padding-left: $gutter;
      padding-right: $gutter;
      font-size: 40px;
      text-align: center;
      text-transform: none;
      font-weight: 100;
      span {
        font-size: 20px;
        line-height: 55px;
        vertical-align: top;
      }
    }
    a {
      color: $white;
      z-index: 0;
      width: 100%;
      height: 100%;
      transition: color .25s ease;
      &:hover, &:active {
        color: $accent;
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $black;
      opacity: $dark-opacity;
      transition: background-color, opacity .25s ease;
    }
    &:hover, &:active {
      &::before {
        background-color: $dark;
        opacity: $dark-opacity--hover;
      }
    }
  }
  .tiles-item--stinopis {
    grid-row: 1/3;
  }
  .tiles-item--soft {
    grid-row: 3/4;
  }
  .tiles-item--textile {
    grid-row: 1/2;
  }
  .tiles-item--wallpaper {
    grid-row: 2/4;
  }
}

.who {
  // background-color: #E9ECF3;
  padding-bottom: $gutter*3;
  position: relative;
  opacity: 1;
  font-size: 14px;
  &::before {
    content: '';
    position: absolute;
    background-image: url(../img/ds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
  }
  p {
    margin: $gutter 0;
  }
  .who__text {
    margin: 0 $gutter 0 $gutter;
    display: flex;

    a {
      text-transform: none;
      border-bottom: 1px dashed $black;
      transition: color .25s ease;
      &:hover, &:active {
        color: $dark;
        border-bottom: 1px dashed $dark;
      }
    }
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: lighter;
      margin: $big-gutter 0 0 0;
    }
    article {
      width: 50%;
      &:first-child {
        margin-right: $gutter/2;
      }
      &:last-child {
        margin-left: $gutter/2;
      }
    }
  }
  .who__citations {
    display: flex;
    justify-content: space-between;
    padding: 0 $gutter;
  }
}
.citation__article {
  display: flex;
  width: 50%;
  &:first-child {
    margin-right: $gutter;
  }
  p {
    // background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0 $gutter;
    font-size: 16px;
    border-radius: 5px;
  }
  q {
    font-family: FontAwesome, OpenSans-Light;
    quotes: $fa-var-quote-left $fa-var-quote-right;
  }
  h3 {
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
  }
}
.citation__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.citation__userpic {
  border-radius: 10em;
  width: 100px;
  height: 100px;
  background-position: center;
  margin: 0 2px $gutter/2 0;
}


.partners {
  // h2 {
  //   padding: 100px 0;
  //   margin: 0;
  // }
  .partner_link {
    width: 220px;
    height: 75px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    margin: 0 5px;
    &--1 {
      background-image: url("../img/logos/dd.png");
    }
    &--2 {
      background-image: url("../img/logos/dicentra.png");
    }
    &--3 {
      background-image: url("../img/logos/home_design.png");
    }
    &--4 {
      background-image: url("../img/logos/ivd.png");
    }
    &--5 {
      background-image: url("../img/logos/jartis.png");
    }
    &--6 {
      background-image: url("../img/logos/loft-buro.png");
    }
    &--7 {
      background-image: url("../img/logos/san_marco.png");
    }
    &--8 {
      background-image: url("../img/logos/soho.png");
    }
    &--9 {
      background-image: url("../img/logos/solmaz_primavera.png");
    }
    &--10 {
      background-image: url("../img/logos/studio-mebel.png");
    }
    &--11 {
      background-image: url("../img/logos/fi.png");
    }
  }
}
.carousel {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 91px;
}
.slick-slider .slick-track {
  background-color: $white;

}
// .owl-stage {
// }
/* MENU FOR MOBILES AND TABLETS start */
.overlay {
  position: absolute;
  // position: fixed;
  // display: flex;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  box-shadow: none;
  overflow: hidden;
  position: fixed;
  background: $dark;
  opacity: $dark-opacity--hover;
  overflow-x: hidden;
}
// .overlay ~ * {
// 	filter: blur(5px);
// }
.menu-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  // display: block;
  display: none;
  outline: 0;
  padding: 0;
  z-index: 301;
  box-shadow: none;
  color: white;
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: $dark-opacity--hover;
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 28px;
  font-family: Arial,monospace;
  user-select: none;
  transition: color, opacity .25s ease;
  &:focus, &:hover {
    color: $accent;
    text-transform: uppercase;
    opacity: 1;
  }
}
.main-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
}
.main-menu--hidden {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  align-items: center;
  // flex-direction: column;
  justify-content: center;
  padding: $big-gutter;
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  li {
    align-self: center;
    a {
      font-size: 20px;
      font-family: OpenSans-SemiBold, sans-serif;
      line-height: 50px;
      color: $white;
      transition: font, color .25s ease;
      &:hover, &:active {
        // font-family: OpenSans-Bold, sans-serif;
        // font-size: 20px;
        font-weight: 800;
        color: $accent;
      }
    }
  }
  .socials-menu__fb i {
    font-size: 22px;
    margin-right: 40px;
  }
  .socials-menu__instagram {
    font-size: 25px;
  }
}
.contacts {
  background-color: $black;
  color: $gray;
  align-content: center;
  // h2 {
  //   // padding: 100px $gutter;
  //   line-height: 50px;
  //   margin: 0;
  // }
  .contacts__wrapper {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    justify-content: space-around;
    h3 {
      text-transform: uppercase;
      padding: 0;
      margin: 0 0 $gutter*3 0;
      i {
        margin-right: 5px;
      }
    }
    .contact__item {
      font-size: 20px;
      line-height: 40px;
      // border: 1px solid $gray;
      padding: 0;
    }
    .contact__item--phones {
      h3 i { margin-right: 12px}
      // text-align: center;
    }
    address {
      font-style: normal;
    }
  }
  .contacts__wrapper .contact__item, .contacts__footer a.button,
  .contacts__footer nav {
    width: 295px;
  }

  .contacts__footer {
    // border-top: 1px solid darken($gray,25%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    nav, .socials-menu__fb, .socials-menu__instagram {
      color: $gray;
    }
    a.button {
      margin: $big-gutter 0 $big-gutter 0;
      background-color: $gray;
      height: 85px;
      line-height:85px;
      border-radius: 10px;
      text-align: center;
      font-family: OpenSans-Regular, sans-serif;
      font-size: 25px;
      transition: background-color .25s ease;
      &:hover, &:active {
        background-color: $accent;
        // lighten($gray, 15%);
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        li {
          line-height: 50px;
          i {
            transition: color .25s ease;
            &:hover, &:active {
              color: $accent;
              // lighten($gray, 15%);
            }
          }
          .socials-menu__fb {
            font-size: 45px;
          }
          .socials-menu__instagram {
            font-size: 50px;
          }
        }
      }
    }
    .socials-menu__fb , .socials-menu__instagram {
      margin: 0;
      padding: 0;
    }
    .socials-menu__fb {
      font-size: 22px;
    }
    .socials-menu__instagram {
      font-size: 25px;
    }
    .copyright {
      margin-top: $big-gutter/2;
      margin-bottom: $gutter;
      font-size: 11px;
      line-height: 11px;
      color: darken($gray, 20%);
      text-transform: none;
    }
  }
}
form.contact-form {
  padding: $big-gutter/2;
  width: 420px;
  margin: 0 auto;
  overflow: hidden;
  .contact-form__head {
    text-align: center;
    h3 {
      font-family: OpenSans-SemiBold,sans-serif;
      font-size: 25px;
      text-transform: uppercase;
      margin: $gutter;
    }
    p {
      font-size: 20px;
      margin: 0 0 $gutter 0;
    }
  }
  input, select, textarea {
    background-color: rgba(218,218,218,.6);
    border-radius: 3px;
    // height: $big-gutter;
    // line-height: $big-gutter;
    border: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: $gutter;
    font-family: OpenSans-Light,sans-serif;
  }
  select {
    padding-left: 10px;
  }
  textarea {
    height: 85px;
  }
  .button {
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    margin-top: $gutter*3;
    background-color: $gray;
    height: 85px;
    line-height:85px;
    border-radius: 10px;
    text-align: center;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 25px;
    transition: background-color .25s ease;
    border: 1px solid $gray;
    &:hover, &:active {
      background-color: $accent;
      border: 1px solid $accent;
      cursor: pointer;
      // lighten($gray, 15%);
    }
  }
}
.mfp-inline-holder .mfp-content {
// .mfp-content {
  background-color: #fff;
  width: 520px;
}
.mfp-wrap ~ * {
  filter: blur(5px);
}

a {
  // font-family: Open-Sans, sans-serif;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
}
/* MENU FOR MOBILES AND TABLETS end */

.success {
  color: $black;
  background-color: $white;
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  transition: all .5s ease;

  p {
    margin: auto;
    text-transform: uppercase;
    font-size: 28px;
  }
  &.active {
    top: 0;
    opacity: 1;
  }
}
.hidden-y {
  overflow-y: hidden;
}

@import "media"; // Всегда в конце
